html, body {
	height: 100%;
	max-width: 100%;
	overflow: hidden;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}
.section {
	height: 100%;
	align-items: center;
	text-align: center;
	justify-content: center;
	box-sizing: border-box;
	position: relative;
	flex: 1;
	transition: .4s
}
.section:hover {
	flex: 1.8;
	transition: flex .4s;
}
.container:hover > .section {
	filter: brightness(22%);
}
.container:hover > .section:hover {
	filter: brightness(100%);
}
.section1 {
	background: url("../img/pic1.jpg") no-repeat center center;
	background-size: cover;
}.section2 {
	background: url("../img/pic2.jpg") no-repeat center center;
	background-size: cover;
}.section3 {
	background: url("../img/pic3.jpg") no-repeat center center;
	background-size: cover;
}.section4 {
	background: url("../img/pic4.jpg") no-repeat center center;
	background-size: cover;
}.section5 {
	background: url("../img/pic5.jpg") no-repeat center center;
	background-size: cover;
}
.section__title {
	position: relative;
	width: 100%;
	height: 300px;
	/* text-align: center; */
	margin-top: 30vh;
	/* margin: auto; */
}
.section__title h1 {
	text-transform: uppercase;
	font-size: 3.5vw;
	vertical-align: middle;
	text-shadow: 1px 2px 5px rgba(0,0,0,.5);
	/* margin: 0; */
}
.section:hover > .section__title h1 {
	font-size: 5vw;
	transition: font-size .4s;
}
.section__title h3 {
	font-size: 1.3vw;
	text-transform: uppercase;
}
.section:hover > .section__title h3 {
	font-size: 1.5vw;
	transition: .4s;
}
.section__loc {
	display: block;
	width: 60%;
	text-align: center;
	position: relative;
	padding-top: 30px;
	margin: auto;
	opacity: 0;
}
.section:hover > .section__loc {
	opacity: 1;
	transition-delay: .5s;
	transition: opacity .8s;
}
.section__loc p {
	font-size: 20px;
}